/vendor
.idea
.vagrant
Homestead.json
Homestead.yaml
_ide_helper.php
.phpstorm.meta.php
composer.lock
.DS_Store
.env.*
storage/proxies
storage/reports
storage/imports/property
storage/imports/unit_invoices
!.env.local
